.git/
.gitignore
.dockerignore
.travis.yml
Dockerfile
chuangmi.jpg
tools/bin/*
tools/lib/*.so
tools/lib/*.o
sdcard/firmware/root/.ssh
sdcard/firmware/bin/*
sdcard/firmware/www
sdcard/firmware/etc/ssl/rootCA.key
sdcard/firmware/etc/ssl/rootCA.pem
sdcard/firmware/etc/ssl/rootCA.srl
sdcard/firmware/etc/ssl/server.crt
sdcard/firmware/etc/ssl/server.csr
sdcard/firmware/etc/ssl/server.key
sdcard/firmware/etc/ssl/v3.ext
sdcard/logs
sdcard/log
src/*
prefix/*
tf_recovery.img
tf_recovery.img.bak
MiiCam.zip
MiiCam.tgz
sdk/
tmp/
.idea
tf_recovery.img
