build
prefix
src
sdcard/firmware/bin/*
sdcard/manufacture.bin
gm_lib/*
!gm_lib/README
sdk/
sdcard/firmware/etc/dropbear/dropbear_ecdsa_host_key
sdcard/firmware/etc/dropbear/dropbear_ecdsa_host_key.pub
chuangmi-720p-hack.zip
chuangmi-720p-hack.tgz
.idea/
