SHELL=/bin/sh
PATH=/tmp/sd/firmware/bin:/tmp/sd/firmware/scripts:/sbin:/bin:/usr/sbin:/usr/bin

# min hour day_of_month month day_of_week command

# cron test
*   *   *   *   *   /bin/date > /tmp/crontest

# Check if ntp is running otherwise start
*/10 *  *   *   *  pgrep ntpd || /tmp/sd/firmware/etc/init/S51ntpd start
