SHELL=/bin/sh
PATH=/tmp/sd/firmware/bin:/tmp/sd/firmware/scripts:/sbin:/bin:/usr/sbin:/usr/bin

# min hour day_of_month month day_of_week command

## Setup logrotation every night
59    23   *            *     *           flock -n -x /tmp/.logrotate.lock -c logrotate /etc/logrotate.conf

## Save the state file every hour
00    *    *            *     *           flock -n -x /tmp/.save_state.lock -c /etc/init/S99restore_state save
