{% extends "base/layout.twig" %}

{% block head_extra %}
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/axios.min.js"></script>
{% endblock %}

{% block body %}

<div style="padding:0 16px;">
        <h1>Log Viewer</h1>

        <style type="text/css">
            #app {
                font-family: monospace;
                font-size: 12px;
                white-space: pre-wrap;
                color: #333;
            }
        </style>

        <div id="app">
               <div id="logpicker">
                     <button v-on:click="syslog">Select Syslog</button>
                     <button v-on:click="bootlog">Select Bootlog</button>
                     <button v-on:click="webapp">Select Webapp Logs</button>
                     <button v-on:click="lighttpd">Select Webserver Log</button>
                </div>
                <p>Now tailing ${logdesc}, select a log to view.</p>

               <div v-for="line in lines">${line}</div>
        </div>
</div>

<script>
    const app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            lines: [],
            seek: 0,
            logtype: "syslog",
            logdesc: "the general syslog file",
        },
        mounted () {
            this.load();
            setInterval(this.load, 4000);
        },
        methods: {
            syslog: function() {
                this.lines = [];
                this.seek = 0;
                this.logtype = 'syslog';
                this.logdesc = "the general syslog file";
                this.load();
            },
            bootlog: function() {
                this.lines = [];
                this.seek = 0;
                this.logtype = 'bootlog';
                this.logdesc = "the camera's bootup log file";
                this.load();
            },
            webapp: function() {
                this.lines = [];
                this.seek = 0;
                this.logtype = 'webapp';
                this.logdesc = "the webapp's request logging";
                this.load();
            },
            lighttpd: function() {
                this.lines = [];
                this.seek = 0;
                this.logtype = 'lighttpd';
                this.logdesc = "the webserver's error log";
                this.load();
            },
            load () {
                var url = `/logviewer/${this.logtype}/refresh?seek=${this.seek}`;
                axios.get(url)
                    .then(response => {
                        this.lines = [...response.data.lines.reverse(), ...this.lines];
                        this.seek = response.data.seek;
                    });
            }
        }
    });
</script>
{% endblock %}
