<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Logviewer</title>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-vue.css"/>
    <link rel="stylesheet" href="/static/css/chuangmi.css">

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/polyfill.min.js"></script>
    <script src="/static/js/bootstrap-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
  </head>

  <body>
      <ul class="topnav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/snapshot.html">Snapshot</a></li>
        <li><a href="/settings.html">Settings</a></li>
        <li><a href="/system.html">System</a></li>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/logviewer.html">Log viewer</a></li>
        <li><a href="/config.html">Config Editor</a></li>
        <li><a href="/apidocs.html">API Docs</a></li>
        <li><a href="/update.html">Update</a></li>
        <li class="right"><a class="active">Logviewer</a></li>
      </ul>
    <div class="content">
        <div style="padding:0 16px;">
            <h1>Logviewer</h1>
            <p>View logs for services, boot process and syslog</p>
            <div id="app">
                <b-alert variant="danger"
                     dismissible
                     :show="show_alert"
                     @dismissed="show_alert=false">
                     {{ alert_message }}
                </b-alert>

                <div id="logpicker">
                     <b-button-group>
                     <b-button v-on:click="select('syslog')">Select Syslog</b-button>
                     <b-button v-on:click="select('bootlog')">Select Bootlog</b-button>
                     <b-button v-on:click="select('webapp')">Select Webapp Logs</b-button>
                     <b-button v-on:click="select('lighttpd')">Select Webserver Log</b-button>
                     <b-button v-on:click="select('rtspd')">Select RTSP Server Log</b-button>
                     </b-button-group>
                </div>

                <p>Now tailing {{ logdesc }}, select a log to view.</p>

                <p v-if="lines.length == 0">Waiting for incoming data....</p>

                <div class="code" v-if="lines.length > 0">
                    <pre><code>
                        <div class="loglines" v-for="line in lines">{{ line }}</div>
                    </code></pre>
                </div>
            </div>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    show_alert: false,
                    alert_message: "",
                    lines: [],
                    seek: 0,
                    logtype: "syslog",
                    logdesc: "the general syslog file",
                    interval: null,
                    mapper: {
                        syslog:   { desc: "the general syslog file",     },
                        webapp:   { desc: "the webapp's request logging" },
                        bootlog:  { desc: "the camera's bootup log file" },
                        lighttpd: { desc: "the webserver's error log"    },
                        rtspd:    { desc: "the rtspd server log"         },
                    },
                },
                mounted () {
                    this.load();
                    this.interval = setInterval(this.load, 4000);
                },
                methods: {
                    reset: function() {
                        this.lines = [];
                        this.seek = 0;
                    },
                    select: function(type) {
                        this.logtype = type;
                        this.logdesc = this.mapper[type].desc;
                        this.reset();
                        this.load();
                    },
                    load: function() {
                        var url = `/api/logviewer/${this.logtype}/refresh?seek=${this.seek}`;
                        axios.get(url)
                          .then(response => {
                              this.lines = [...response.data.lines.reverse(), ...this.lines];
                              this.seek = response.data.seek;
                          })
                          .catch(error => {
                              this.reset();
                              this.show_alert = true;
                              this.alert_message = error.response.data.message;
                              clearInterval(this.interval);
                          });
                    }
                }
            });
        </script>
    </div>
  </body>
</html>
