<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/chuangmi.css">
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    {% include "base/navigation.twig" %}
    {% block body %}{% endblock %}
  </body>
</html>
