<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/overview">Overview</a></li>
  <li><a href="/settings">Settings</a></li>
  <li><a href="/logviewer">Log viewer</a></li>
  <li><a href="/apidocs">API Docs</a></li>
  <li class="right"><a class="active">{{ title }}</a></li>
</ul>
