<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Config Editor</title>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/chuangmi.css">

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/polyfill.min.js"></script>
    <script src="/static/js/bootstrap-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
  </head>

  <body>
      <ul class="topnav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/snapshot.html">Snapshot</a></li>
        <li><a href="/settings.html">Settings</a></li>
        <li><a href="/system.html">System</a></li>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/logviewer.html">Log viewer</a></li>
        <li><a href="/config.html">Config Editor</a></li>
        <li><a href="/apidocs.html">API Docs</a></li>
        <li class="right"><a class="active">Logviewer</a></li>
      </ul>
    <div class="content">
        <div style="padding:0 16px;">
            <h1>Config Editor</h1>
            <p>View and Edit the main config.cfg</p>

            <div id="app">
                <b-alert variant="danger"
                    dismissible
                    :show="error_show"
                    @dismissed="error_show=false">
                    {{ error_message }}
                </b-alert>

                <b-alert variant="success"
                    dismissible
                    :show="success_show"
                    @dismissed="success_show=false">
                    {{ success_message }}
                </b-alert>

                <b-modal id="RemoveModal" title="Please confirm to continue..." size="lg" v-model="show_remove_modal" @ok="remove_backups">
                    <div id="question">
                        Are you sure you want to remove all backup configuration files? Press OK to confirm.
                        <br/>
                    </div>
                </b-modal>

                <b-modal id="RestoreModal" title="Please confirm to continue..." size="lg" v-model="show_restore_modal" @ok="restore_config">
                    <div id="question">
                        Are you sure you want to restore {{ selected_backup_file }} as config file? Press OK to confirm.
                        <br/>
                    </div>
                </b-modal>

                <b-modal id="SaveContentModal" title="Please confirm to continue..." size="lg" v-model="show_save_modal" @ok="save_config">
                    <div id="question">
                        Are you sure you want to save current content as the new config file? Press OK to confirm.
                        <br/>
                    </div>
                </b-modal>

                <b-button-group>
                    <b-button variant="secondary" v-on:click="backup_config">Backup Current Config</b-button>
                    <b-button variant="secondary" v-b-modal="'RemoveModal'">Remove Backup Configs</b-button>
                    <b-dropdown variant="secondary" text="Restore Config Backup" >
                        <b-dropdown-item v-on:click="select_backup_file(backup)" v-b-modal="'RestoreModal'" v-for="backup in backup_list" :value="backup">{{ backup }}</b-dropdown-item>
                    </b-dropdown>
                </b-button-group>

                <div v-if="content != ''">
                    <b-form-textarea
                        :rows="20"
                        :max-rows="20"
                        :size="100"
                        v-model="content"
                        autocomplete="off"
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="false">
                    </b-form-textarea>
                </div>
                <br/>

                <b-button-group>
                    <b-button variant="secondary" v-on:click="test_config">Test Saved Config</b-button>
                    <b-button variant="secondary" v-on:click="get_config">Refresh Editor Window</b-button>
                    <b-button variant="danger" v-b-modal="'SaveContentModal'">Save Changes</b-button>
                </b-button-group>

            </div>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    content: "",
                    error_show: false,
                    error_message: null,
                    success_show: false,
                    success_message: null,
                    backup_list: [],
                    selected_backup_file: "",
                    show_save_modal: false,
                    show_restore_modal: false,
                    show_remove_modal: false,
                },
                mounted () {
                    this.get_config();
                    this.get_backups();
                },
                methods: {
                    save_config: function() {
                        axios.post(`/api/config/write`, {"content": this.content})
                        .then(response => {
                            if (response.data.success != false) {
                                this.success_show = true;
                                this.error_show = false;
                                this.success_message = response.data.message;
                                this.get_config();
                            } else {
                                this.success_show = false;
                                this.error_show = true;
                                this.error_message = response.data.message;
                            }
                        })
                        .catch(error => {
                            this.success_show = false;
                            this.error_show = true;
                            this.error_message = error.response.data.message;
                        });
                    },
                    get: function(url, error_message, success_message) {
                        axios.get(url)
                        .then(response => {
                            if (response.data.success != false) {
                                this.success_show = true;
                                this.error_show = false;
                                this.success_message = success_message + response.data.message;
                            } else {
                                this.success_show = false;
                                this.error_show = true;
                                this.error_message = error_message + response.data.message;
                            }
                        })
                        .catch(error => {
                            this.success_show = false;
                            this.error_show = true;
                            this.error_message = error_message + error.response.data.message;
                        });
                    },
                    test_config: function() {
                        this.get(`/api/config/test`, "Config test FAIL: ", "Config test OK: ");
                    },
                    backup_config: function() {
                        this.get(`/api/config/backup/create`, "Failed to create backup: ", "New backup created: ");
                    },
                    restore_config: function() {
                        var url = `/api/config/restore/${this.selected_backup_file}`;
                        this.get(url, "Failed to restore config from backup: ", "Config restored from backup: ");
                        this.get_config();
                        this.get_backups();
                    },
                    remove_backups: function() {
                        this.get(`/api/config/backup/remove`, "Removing backups failed: ", "Removing backups succeeded: ");
                    },
                    select_backup_file: function(backup_file) {
                        this.selected_backup_file = backup_file;
                        this.show_modal = true;
                    },
                    get_backups: function() {
                        axios.get(`/api/config/backup/list`)
                        .then(response => {
                            if (response.data.success != false) {
                                this.backup_list = response.data;
                            } else {
                                this.error_show = true;
                                this.error_message = "Failed to retrieve config backups from /api/config/backup/list";
                            }
                        })
                        .catch(error => {
                            this.error_show = true;
                            this.error_message = error.response.data.message;
                        });
                    },
                    get_config: function() {
                        axios.get(`/api/config/read`)
                        .then(response => {
                            if (response.data.success != false) {
                                this.content = response.data.content;
                            } else {
                                this.error_show = true;
                                this.error_message = "An error appeared while retrieving the configuration file content from /api/config/read";
                            }
                        })
                        .catch(error => {
                            this.error_show = true;
                            this.error_message = error.response.data.message;
                        });
                    }
                }
            });
        </script>
    </div>
  </body>
</html>
