<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width" />
      <title>Settings</title>

      <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
      <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-vue.css"/>
      <link rel="stylesheet" href="/static/css/chuangmi.css">

      <script src="/static/js/vue.min.js"></script>
      <script src="/static/js/polyfill.min.js"></script>
      <script src="/static/js/bootstrap-vue.js"></script>
      <script src="/static/js/axios.min.js"></script>
  </head>

  <body>
      <ul class="topnav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/snapshot.html">Snapshot</a></li>
          <li><a href="/settings.html">Settings</a></li>
          <li><a href="/system.html">System</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="/logviewer.html">Log viewer</a></li>
          <li><a href="/config.html">Config Editor</a></li>
          <li><a href="/apidocs.html">API Docs</a></li>
          <li class="right"><a class="active">Settings</a></li>
      </ul>

      <div class="content">
          <div style="padding:0 16px;">
              <h1>Settings</h1>

              <div id="app">

                  <b-alert variant="danger"
                       dismissible
                       :show="error_show"
                       @dismissed="error_show=false">
                       {{ error_message }}
                  </b-alert>

                  <b-alert variant="success"
                       dismissible
                       :show="success_show"
                       @dismissed="success_show=false">
                       {{ success_message }}
                  </b-alert>

                  <b-button-group>
                      <template v-for="led in leds">
                          <b-button :variant="state[led].variant" v-on:click="ToggleState(led)">{{ humanize(led) }}</i></b-button>
                      </template>
                  </b-button-group>

                  <b-button-group>
                      <template v-for="option in cam_buttons">
                          <b-button :variant="state[option].variant" v-on:click="ToggleState(option)">{{ humanize(option) }}</i></b-button>
                      </template>
                  </b-button-group>

                  <br/>
                  <br/>

                  <b-button-group>
                      <template v-for="option in mode_options">
                          <b-button :variant="state[option].variant" v-on:click="ToggleState(option)">{{ humanize(option) }}</i></b-button>
                      </template>
                  </b-button-group>

                  <b-button-group>
                      <template v-for="option in auto_buttons">
                          <b-button :variant="state[option].variant" v-on:click="ToggleState(option)">{{ humanize(option) }}</b-button>
                      </template>
                  </b-button-group>

                  <br/>

                  <h2>Camera Sliders</h2>
                  <b-form-group>
                      <b-row v-for="slider in cam_sliders">
                          <b-col sm="9">
                              <div class="range">
                                  <input type="range" name="range" step="1" min="0" max="255" :value="state[slider].on" v-model="state[slider].on" v-on:change="SetSlider(slider)">
                                   <output id="range">{{ state[slider].on }}</output>
                              </div>
                              <label><b>{{ humanize(slider) }}</b> - <i>{{ state[slider].description }}</i></label>
                          </b-col>
                      </b-row>
                  </b-form-group>

                  <br/>

                  <b-button-group>
                      <b-button @click="GetState()">Refresh</b-button>
                      <b-button @click="ResetState()">Reset</b-button>
                      <b-button @click="SaveState()">Save State</b-button>
                  </b-button-group>

              </div>
          </div>
      </div>

      <script>
          const app = new Vue({
              el: '#app',
              data: {
                  leds: ['blue_led', 'yellow_led', 'ir_led'],
                  mode_options: ['ir_cut', 'night_mode', 'flip_mode', 'mirror_mode'],
                  cam_sliders: ['brightness', 'contrast', 'hue', 'saturation', 'denoise', 'sharpness'],
                  auto_buttons: ["auto_exposure", "auto_focus", "auto_white_balance", "auto_sharpen"],
                  cam_buttons: ["black_level_correction", "contrast_enhancement", "gamma_curve_correction", "noise_reduction"],
                  busy: true,
                  state: {
                      blue_led: {
                          variant: "secondary",
                          url_on: `/api/led/blue_led/set/on`,
                          url_off: `/api/led/blue_led/set/off`,
                          on: "unknown",
                      },
                      yellow_led: {
                          variant: "secondary",
                          url_on: `/api/led/yellow_led/set/on`,
                          url_off: `/api/led/yellow_led/set/off`,
                          on: "unknown",
                      },
                      ir_led: {
                          variant: "secondary",
                          url_on: `/api/led/ir_led/set/on`,
                          url_off: `/api/led/ir_led/set/off`,
                          on: "unknown",
                      },
                      ir_cut: {
                          variant: "secondary",
                          url_on: `/api/camera/ir_cut/set/on`,
                          url_off: `/api/camera/ir_cut/set/off`,
                          on: "unknown",
                      },
                      night_mode: {
                          variant: "secondary",
                          url_on: `/api/camera/night_mode/set/on`,
                          url_off: `/api/camera/night_mode/set/off`,
                          on: "unknown",
                      },
                      flip_mode: {
                          variant: "secondary",
                          url_on: `/api/camera/flip_mode/set/on`,
                          url_off: `/api/camera/flip_mode/set/off`,
                          on: "unknown",
                      },
                      mirror_mode: {
                          variant: "secondary",
                          url_on: `/api/camera/mirror_mode/set/on`,
                          url_off: `/api/camera/mirror_mode/set/off`,
                          on: "unknown",
                      },
                      auto_exposure: {
                          variant: "secondary",
                          url_on: `/api/camera/auto_exposure/set/on`,
                          url_off: `/api/camera/auto_exposure/set/off`,
                          on: "unknown",
                      },
                      auto_focus: {
                          variant: "secondary",
                          url_on: `/api/camera/auto_focus/set/on`,
                          url_off: `/api/camera/auto_focus/set/off`,
                          on: "unknown",
                      },
                      auto_white_balance: {
                          variant: "secondary",
                          url_on: `/api/camera/auto_white_balance/set/on`,
                          url_off: `/api/camera/auto_white_balance/set/off`,
                          on: "unknown",
                      },
                      auto_sharpen: {
                          variant: "secondary",
                          url_on: `/api/camera/auto_sharpen/set/on`,
                          url_off: `/api/camera/auto_sharpen/set/off`,
                          on: "unknown",
                      },
                      black_level_correction: {
                          variant: "secondary",
                          url_on: `/api/camera/black_level_correction/set/on`,
                          url_off: `/api/camera/black_level_correction/set/off`,
                          on: "unknown",
                      },
                      contrast_enhancement: {
                          variant: "secondary",
                          url_on: `/api/camera/contrast_enhancement/set/on`,
                          url_off: `/api/camera/contrast_enhancement/set/off`,
                          on: "unknown",
                      },
                      gamma_curve_correction: {
                          variant: "secondary",
                          url_on: `/api/camera/gamma_curve_correction/set/on`,
                          url_off: `/api/camera/gamma_curve_correction/set/off`,
                          on: "unknown",
                      },
                      noise_reduction: {
                          variant: "secondary",
                          url_on: `/api/camera/noise_reduction/set/on`,
                          url_off: `/api/camera/noise_reduction/set/off`,
                          on: "unknown",
                      },
                      brightness: {
                          description: "Change the brightness",
                          url: `/api/camera/isp328/set/brightness`,
                          on: 0,
                          last_value: 0,
                      },
                      contrast: {
                          description: "Change the contrast",
                          url: `/api/camera/isp328/set/contrast`,
                          on: 0,
                          last_value: 0,
                      },
                      hue: {
                          description: "Change the hue value",
                          url: `/api/camera/isp328/set/hue`,
                          on: 0,
                          last_value: 0,
                      },
                      saturation: {
                          description: "Change the saturation",
                          url: `/api/camera/isp328/set/saturation`,
                          on: 0,
                          last_value: 0,
                      },
                      denoise: {
                          description: "Change the denoise",
                          url: `/api/camera/isp328/set/denoise`,
                          on: 0,
                          last_value: 0,
                      },
                      sharpness: {
                          description: "Change the sharpness",
                          url: `/api/camera/isp328/set/sharpness`,
                          on: 0,
                          last_value: 0,
                      },
                  },
                  error_show: false,
                  error_message: null,
                  success_show: false,
                  success_message: null,
              },
              mounted: function() {
                  this.GetState();
              },
              methods: {
                  bool_2_state: function(state) {
                      if (state == true) {
                          return "on";
                      } else if (state ==false) {
                          return "off";
                      } else {
                          return state;
                      }
                  },
                  humanize: function(str) {
                      var frags = str.split('_');
                      for (i=0; i < frags.length; i++) {
                          frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
                      }
                      return frags.join(' ');
                  },
                  ResetSlider: function(slider) {
                      console.log(`Resetting slider ${slider} to ${this.state[slider].last_value}`);
                      this.state[slider].on = this.state[slider].last_value;
                  },
                  SetSlider: function(slider) {
                      console.log(`Slider ${slider} set to: ${this.state[slider].on}`);
                      var last_value = this.state[slider].on;
                      var url        = this.state[slider].url + "/" + last_value;

                      if (this.busy) {
                          this.error_show    = true;
                          this.error_message = "Please wait till the current state is retrieved from the camera or refresh the page.";
                          this.ResetSlider(slider);
                          return;
                      } else {
                          this.busy = true;
                      }

                      axios.get(url)
                      .then(response => {
                          if (response.data.success) {
                              this.state[slider].on         = last_value;
                              this.state[slider].last_value = last_value;
                              this.success_show             = true;
                              this.success_message          = this.humanize(slider) + ` was set to ${this.state[slider].last_value}`;
                          } else {
                              this.ResetSlider(slider);
                              this.error_show               = true;
                              this.error_message            = "Turn on " + this.humanize(slider) + " Failed"
                          }
                      })
                      .catch(error => {
                          this.ResetSlider(slider);
                          this.error_show = true;
                          this.error_message = error.response.data.message;
                      });

                      this.busy = false;
                  },
                  ResetState: function() {
                      this.busy = true;

                      axios.get(`/api/camera/reset`)
                      .then(response => {
                          console.log(response);
                          if (response.data.success) {
                              this.success_show    = true;
                              this.success_message = response.data.message;
                          } else {
                              this.error_show      = true;
                              this.error_message   = `Failed to reset sliders to its default values: ${response.data.message}`;
                          }
                          this.GetState();
                      })
                      .catch(error => {
                          this.error_show = true;
                          this.error_message = error.response.data.message;
                      });

                      this.busy = false;
                  },
                  GetState: function() {
                      this.error_show = false;
                      var url = `/api/camera/state`;

                      console.log(`Retrieving state from ${url}`);

                      axios.get(url)
                      .then(response => {
                          for (var key in response.data) {
                              this.SetState(key, response.data[key]);
                          }
                          this.busy = false;
                      })
                      .catch(error => {
                          this.error_show = true;
                          this.error_message = error.response.data.message;
                          this.busy = false;
                      });
                  },
                  SetState: function(option, state) {
                      console.log(`Setting state ${state} for option ${option}`);
                      this.state[option].on = state;

                      if ("variant" in this.state[option]) {

                          if (state == true) {
                              this.state[option].variant = "primary";
                          } else if (state == false) {
                              this.state[option].variant = "muted";
                          } else if (state == "unknown") {
                              this.state[option].variant = "secondary";
                          } else {
                              this.state[option].variant = "warning";
                          }
                      }

                      if ("last_value" in this.state[option]) {
                          this.state[option].last_value = state;
                      }
                  },
                  SaveState: function() {
                      console.log(`Save camera state to file`);

                      axios.get(`/api/camera/save_state`)
                      .then(response => {
                          if (response.data.success) {
                              this.success_show = true;
                              this.success_message = response.data.message;
                          } else {
                              this.error_show = true;
                              this.error_message = response.data.message;
                          }
                      })
                      .catch(error => {
                          this.error_show = true;
                          this.error_message = error.response.data.message;
                      });
                  },
                  ToggleState: function(option) {
                      console.log(`Toggle state for ${option}`);

                      var state = this.state[option].on;
                      var url   = (state == true) ? this.state[option].url_off : this.state[option].url_on;

                      if (this.busy) {
                           this.error_show = true;
                           this.error_message = "Please wait till the current state is retrieved from the camera or refresh the page.";
                           return;
                      }

                      axios.get(url)
                      .then(response => {
                          if (response.data.success) {
                              this.SetState(option, !state);
                              this.success_show = true;
                              this.success_message = this.humanize(option) + " was toggled";
                          } else {
                              this.error_show = true;
                              this.error_message = "Toggle state for " + this.humanize(option) + " failed"
                          }
                      })
                      .catch(error => {
                          this.error_show = true;
                          this.error_message = error.response.data.message;
                      });
                  },
              },
          });
      </script>
  </body>
</html>
