############################################################
##
## Chuangmi 720p Firmware Configuration
##
## For an overview of all available options
## See: https://github.com/fliphess/chuangmi-720p-hack/wiki/Configuration-file-options
##
############################################################

## Disable the execution of the hack scripts (0/1)
DISABLE_HACK=0

## Fully Disconnect from Xioami servers, including disabling streaming and OTA updater (0/1)
DISABLE_CLOUD=1

## Manage the camera via cloud but prevent online updates (0/1)
## This option is overruled by DISABLE_CLOUD=1
DISABLE_OTA=1


############################################################
## System Settings
############################################################

## The hostname of the webcam
HOSTNAME="camera01"

## Password for root user, needed for SSH server and Samba R/W access
ROOT_PASSWORD="Chuangmi720pCam123"


############################################################
## Wait for network connectivity
############################################################

## Wait with boot until network comes up
WAIT_FOR_NETWORK=1

## The IP to ping to verify if network is up
PING_IP="8.8.8.8"

## Ping Max retries
PING_RETRIES=10

## Wait time in seconds
PING_WAIT=2


############################################################
## Purge logfiles at boot time
############################################################

## Remove all logs from log directory
PURGE_LOGFILES_AT_BOOT=1


############################################################
## Wifi Settings
############################################################

## Set WIFI STA SSID, when empty no configuration is done
WIFI_SSID=""

## Set WIFI STA password
WIFI_PASS=""


############################################################
## Time Settings
############################################################

## See: https://github.com/fliphess/chuangmi-720p-hack/wiki/Time-settings

## Set timezone
TIMEZONE="UTC"

## Prefered NTP server
NTP_SERVER="pool.ntp.org"


############################################################
## MQTT Settings
############################################################

## See: https://github.com/fliphess/chuangmi-720p-hack/wiki/Configuring-MQTT

## Enable or disable MQTT service
ENABLE_MQTT=0

## Connection options for broker server
MQTT_USER=mqtt-user
MQTT_PASS=mqtt-password
MQTT_HOST=mqtt-host
MQTT_PORT=1883

## Define the base topic used by the camera
MQTT_TOPIC="home/$HOSTNAME"

## Define additional options for Mosquitto here.
## For example --cafile /tmp/sd/firmware/etc/cacert.pem --tls-version tlsv1
MOSQUITTOOPTS=""

## Add options for mosquitto_pub like -r for retaining messages
MOSQUITTOPUBOPTS="-r "

## Send a mqtt statusupdate every n seconds
MQTT_STATUSINTERVAL=30


############################################################
## RTSP Settings
############################################################

## See: https://github.com/fliphess/chuangmi-720p-hack/wiki/Configuring-RTSP

## Start local streaming server at system boot (0/1)
ENABLE_RTSP=1

## The image width of the rtsp stream
RTSP_WIDTH=1280

## The image height of the rtsp stream
## Downscaling is possible
RTSP_HEIGHT=720

## Set the max framerate of the rtsp daemon.
## A framerate of 15 fps is the max supported by the camera
RTSP_FRAMERATE=15

## The max bitrate
RTSP_BITRATE=8192

## The bitrate mode
RTSP_BITRATE_MODE=4

## Extra command line arguments for the RTSP daemon
RTSP_EXTRA_ARGS=""

############################################################
## Motion Settings                                        ##
############################################################

## Set to 0 to disable motion light
MOTION_LIGHT_ALERT=1

## The led to turn on and off when motion is detected. Set to blue_led, yellow_led or ir_led
MOTION_LIGHT="ir_led"

## What to publish when motion is detected
## Set ENABLE_MQTT=1 to enable
MOTION_MQTT_ON="ON"
MOTION_MQTT_OFF="OFF"

############################################################
## Services
############################################################

## Enable klogd and syslogging
ENABLE_LOGGING=1

## Start restartd services watchdog at system boot (0/1)
ENABLE_RESTARTD=0

## Start the cron service (0/1)
ENABLE_CRON=0

## Start telnet server at system boot (0/1)
ENABLE_TELNETD=0

## Start SSH server at system boot (0/1)
ENABLE_SSHD=1

## Start web server at system boot (0/1)
ENABLE_HTTPD=1

## Start FTP server at system boot (0/1)
ENABLE_FTPD=0

## Start samba server at system boot (0/1)
ENABLE_SAMBA=0

## Turn auto night mode on or off (0/1)
AUTO_NIGHT_MODE=0

## Ceiling camera mode when the image is flipped and mirrored (0/1)
CEILING_MODE=0
