{% extends "layout.twig" %}

{% block content %}
    <div style="padding:0 16px;">
	<div align="center">
      <h1>Chuangmi 720P HTTP Server</h1>
      <img src="/static/images/chuangmi.jpg">
    </div
{% endblock %}
